@font-face {
	font-family: 'icomoon';
	src:url('/app/fonts/icomoon.eot?5km0ci');
	src:url('/app/fonts/icomoon.eot?#iefix5km0ci') format('embedded-opentype'),
		url('/app/fonts/icomoon.woff?5km0ci') format('woff'),
		url('/app/fonts/icomoon.ttf?5km0ci') format('truetype'),
		url('/app/fonts/icomoon.svg?5km0ci#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-package:before {
	content: "\e697";
}

.icon-paper:before {
	content: "\e034";
}

.icon-content-left:before {
	content: "\e101";
}

.icon-check:before {
	content: "\e116";
}

.icon-account-balance:before {
	content: "\e64d";
}

.icon-account-balance-wallet:before {
	content: "\e600";
}

.icon-account-box:before {
	content: "\e601";
}

.icon-account-child:before {
	content: "\e602";
}

.icon-account-circle:before {
	content: "\e603";
}

.icon-add-shopping-cart:before {
	content: "\e604";
}

.icon-alarm:before {
	content: "\e605";
}

.icon-alarm-on:before {
	content: "\e698";
}

.icon-announcement:before {
	content: "\e606";
}

.icon-assessment:before {
	content: "\e607";
}

.icon-assignment:before {
	content: "\e608";
}

.icon-assignment-ind:before {
	content: "\e609";
}

.icon-assignment-turned-in:before {
	content: "\e60a";
}

.icon-autorenew:before {
	content: "\e60b";
}

.icon-backup:before {
	content: "\e60c";
}

.icon-bookmark:before {
	content: "\e60d";
}

.icon-credit-card:before {
	content: "\e60e";
}

.icon-dashboard:before {
	content: "\e66c";
}

.icon-delete:before {
	content: "\e60f";
}

.icon-dns:before {
	content: "\e610";
}

.icon-done:before {
	content: "\e611";
}

.icon-done-all:before {
	content: "\e612";
}

.icon-exit-to-app:before {
	content: "\e613";
}

.icon-favorite:before {
	content: "\e614";
}

.icon-get-app:before {
	content: "\e615";
}

.icon-help:before {
	content: "\e616";
}

.icon-highlight-remove:before {
	content: "\e617";
}

.icon-home:before {
	content: "\e618";
}

.icon-https:before {
	content: "\e619";
}

.icon-info:before {
	content: "\e61a";
}

.icon-info-outline:before {
	content: "\e61b";
}

.icon-input:before {
	content: "\e68d";
}

.icon-label:before {
	content: "\e61c";
}

.icon-language:before {
	content: "\e61d";
}

.icon-list:before {
	content: "\e61e";
}

.icon-lock:before {
	content: "\e61f";
}

.icon-loyalty:before {
	content: "\e620";
}

.icon-payment:before {
	content: "\e621";
}

.icon-perm-contact-cal:before {
	content: "\e622";
}

.icon-perm-identity:before {
	content: "\e623";
}

.icon-perm-media:before {
	content: "\e658";
}

.icon-perm-phone-msg:before {
	content: "\e624";
}

.icon-question-answer:before {
	content: "\e625";
}

.icon-receipt:before {
	content: "\e626";
}

.icon-redeem:before {
	content: "\e627";
}

.icon-reorder:before {
	content: "\e628";
}

.icon-report-problem:before {
	content: "\e629";
}

.icon-room:before {
	content: "\e62a";
}

.icon-schedule:before {
	content: "\e62b";
}

.icon-search:before {
	content: "\e62c";
}

.icon-settings:before {
	content: "\e62d";
}

.icon-shopping-basket:before {
	content: "\e659";
}

.icon-shopping-cart:before {
	content: "\e62e";
}

.icon-store:before {
	content: "\e62f";
}

.icon-subject:before {
	content: "\e630";
}

.icon-swap-horiz:before {
	content: "\e687";
}

.icon-swap-vert:before {
	content: "\e688";
}

.icon-swap-vert-circle:before {
	content: "\e689";
}

.icon-thumb-down:before {
	content: "\e631";
}

.icon-thumb-up:before {
	content: "\e632";
}

.icon-today:before {
	content: "\e633";
}

.icon-translate:before {
	content: "\e634";
}

.icon-view-agenda:before {
	content: "\e635";
}

.icon-visibility:before {
	content: "\e636";
}

.icon-visibility-off:before {
	content: "\e637";
}

.icon-wallet-giftcard:before {
	content: "\e638";
}

.icon-wallet-membership:before {
	content: "\e639";
}

.icon-wallet-travel:before {
	content: "\e63a";
}

.icon-play-arrow:before {
	content: "\e671";
}

.icon-email:before {
	content: "\e63b";
}

.icon-forum:before {
	content: "\e63c";
}

.icon-location-on:before {
	content: "\e63d";
}

.icon-message:before {
	content: "\e63e";
}

.icon-phone:before {
	content: "\e63f";
}

.icon-quick-contacts-dialer:before {
	content: "\e65a";
}

.icon-quick-contacts-mail:before {
	content: "\e65b";
}

.icon-stay-current-portrait:before {
	content: "\e640";
}

.icon-swap-calls:before {
	content: "\e68e";
}

.icon-add:before {
	content: "\e68a";
}

.icon-content-copy:before {
	content: "\e699";
}

.icon-content-cut:before {
	content: "\e641";
}

.icon-content-paste:before {
	content: "\e642";
}

.icon-create:before {
	content: "\e643";
}

.icon-drafts:before {
	content: "\e644";
}

.icon-flag:before {
	content: "\e645";
}

.icon-mail:before {
	content: "\e646";
}

.icon-markunread:before {
	content: "\e647";
}

.icon-airplanemode-on:before {
	content: "\e648";
}

.icon-devices:before {
	content: "\e65c";
}

.icon-storage:before {
	content: "\e66d";
}

.icon-attach-file:before {
	content: "\e68f";
}

.icon-insert-emoticon:before {
	content: "\e649";
}

.icon-keyboard-arrow-down:before {
	content: "\e672";
}

.icon-keyboard-arrow-left:before {
	content: "\e673";
}

.icon-keyboard-arrow-right:before {
	content: "\e674";
}

.icon-keyboard-arrow-up:before {
	content: "\e675";
}

.icon-phone-iphone:before {
	content: "\e69c";
}

.icon-audiotrack:before {
	content: "\e64a";
}

.icon-camera-alt:before {
	content: "\e64b";
}

.icon-collections:before {
	content: "\e65d";
}

.icon-color-lens:before {
	content: "\e65e";
}

.icon-edit:before {
	content: "\e64c";
}

.icon-photo-library:before {
	content: "\e66e";
}

.icon-straighten:before {
	content: "\e68b";
}

.icon-style:before {
	content: "\e68c";
}

.icon-local-atm:before {
	content: "\e64e";
}

.icon-local-bar:before {
	content: "\e65f";
}

.icon-local-cafe:before {
	content: "\e660";
}

.icon-local-florist:before {
	content: "\e661";
}

.icon-local-grocery-store:before {
	content: "\e64f";
}

.icon-local-hotel:before {
	content: "\e662";
}

.icon-local-mall:before {
	content: "\e663";
}

.icon-local-offer:before {
	content: "\e650";
}

.icon-local-play:before {
	content: "\e664";
}

.icon-local-print-shop:before {
	content: "\e651";
}

.icon-local-restaurant:before {
	content: "\e665";
}

.icon-local-shipping:before {
	content: "\e666";
}

.icon-local-taxi:before {
	content: "\e652";
}

.icon-location-history:before {
	content: "\e667";
}

.icon-arrow-back:before {
	content: "\e676";
}

.icon-arrow-drop-down:before {
	content: "\e677";
}

.icon-arrow-drop-down-circle:before {
	content: "\e678";
}

.icon-arrow-drop-up:before {
	content: "\e679";
}

.icon-arrow-forward:before {
	content: "\e67a";
}

.icon-check2:before {
	content: "\e694";
}

.icon-chevron-left:before {
	content: "\e67b";
}

.icon-chevron-right:before {
	content: "\e67c";
}

.icon-close:before {
	content: "\e67d";
}

.icon-expand-less:before {
	content: "\e67e";
}

.icon-expand-more:before {
	content: "\e67f";
}

.icon-menu:before {
	content: "\e670";
}

.icon-more-horiz:before {
	content: "\e680";
}

.icon-more-vert:before {
	content: "\e681";
}

.icon-unfold-less:before {
	content: "\e682";
}

.icon-unfold-more:before {
	content: "\e683";
}

.icon-event-available:before {
	content: "\e668";
}

.icon-event-busy:before {
	content: "\e669";
}

.icon-event-note:before {
	content: "\e66a";
}

.icon-sms:before {
	content: "\e69a";
}

.icon-mood:before {
	content: "\e653";
}

.icon-notifications-on:before {
	content: "\e66b";
}

.icon-share:before {
	content: "\e654";
}

.icon-check-box:before {
	content: "\e695";
}

.icon-check-box-outline-blank:before {
	content: "\e696";
}

.icon-star:before {
	content: "\e655";
}

.icon-star-half:before {
	content: "\e656";
}

.icon-star-outline:before {
	content: "\e657";
}

.icon-uniE690:before {
	content: "\e690";
}

.icon-pen:before {
	content: "\e693";
}

.icon-banknote:before {
	content: "\e69b";
}

.icon-uniE684:before {
	content: "\e684";
}

.icon-uniE685:before {
	content: "\e685";
}

.icon-uniE66F:before {
	content: "\e66f";
}

.icon-list2:before {
	content: "\e691";
}

.icon-images:before {
	content: "\e692";
}

.icon-uniE686:before {
	content: "\e686";
}

