@import "../settings/settings";
.field-group {
    margin-bottom: $basic-gap/2;
    label {
        display: block;
        margin-bottom: 0;
        color: $caption-color;
        font-size: $caption-size;
    }
    input:not([class^="btn"]), textarea {
        border: none;
        border-bottom: 1px solid $field-border-color;
        border-radius: 0;
        margin-bottom: 1px;
        background: transparent;
        padding: $basic-gap/4 $basic-gap/2;
        -webkit-appearance: none;
        &:hover {
            outline: none;
        }
        &:focus {
            border-color: $field-active-color;
            border-width: 1px;
            outline: none;
        }
        &.field-fw {
            width: 100%;
        }
    }
    textarea {
        border: 1px solid $field-border-color;
    }
    .help {
        @extend small;
        color: $field-error-color;
        font-style: italic;
    }
    &.field-error {
        label, .help, input {
            border-color:$field-error-color;
        }
    }
}
.required {
    color: $field-required-color;
}
fieldset {
    border-color: $field-border-color;
    padding: 1.5em;
    margin-bottom: $baseline;
    legend {
        font-weight: bold;
        padding: 0 .5em;
    }
}
input[type="checkbox"], input[type="radio"] {
    display: none;
}
input[type="checkbox"] + label:before {
    background-color: #fff;
    border: 1px solid $field-border-color;
    content: "";
    display: inline-block;
    height: 1.25em;
    margin: -2px 6px 0 0;
    vertical-align: middle;
    width: 1.25em;
    font-size: .75em;
    line-height: 1.25em;
    text-align: center;
}
input[type="checkbox"]:checked + label:before {
    content: "\2713";
}
input[type="radio"] + label:before {
    background-color: #fff;
    border: 1px solid $field-border-color;
    border-radius: 1.25em;
    content: "";
    display: inline-block;
    height: .6em;
    margin: -2px 6px 0 0;
    width: .6em;
    vertical-align: middle;
    font-size: 1.65em;
    line-height: .6em;
    text-align: center;
}
input[type="radio"]:checked + label:before {
    content: "\2022";
}
.input-group {
    position: relative;
    vertical-align: middle;
    color: #757575;
    &:hover {
        .input-group-addon-icon {
            color: $main-color;
        }
    }
    input:not([class^="btn"]) {
        display: block;
    }
}
.input-group-addon:first-child {} .input-group-addon, .input-group-append {
    position: absolute;
    left: 0;
    bottom: 6px;
    margin: 0 $basic-gap/2;
}
.input-group-addon + input:not([class^="btn"]) {
    padding-left: $basic-gap * 3;
}
.edit-form {
    .input-group-addon+input:not([class^="btn"]) {
        padding-left: $basic-gap * 3;
    }
}
.input-group-append {
    right: 0;
    left: auto;
}
.input-group-append-icon, .input-group-addon-icon {
    font-size: 24px;
}
.input-group-append-icon, .input-group-addon-icon, .input-group-addon-text, .input-group-append-text {
    vertical-align: middle;
    &:active {
        color: $main-color;
    }
}
input:not([class^="btn"]), textarea {
    width: 100%;
    padding: $basic-gap/4 $basic-gap/2;
    font-size: 16px;
    line-height: $basic-gap * 1.5;
}
label {
    padding-left: $basic-gap/2;
    &+input:not([class^="btn"]) {
        padding-top: 0;
    }
}
.edit-form {
    padding: $basic-gap $basic-gap;
}
.ctrl-singleSelect, .ctrl-select, .ctrl-simpleSelect {
    width: 100%;
    padding: $basic-gap/4 $basic-gap/2;
    font-size: $input-size;
    line-height: 1.25em;
    border-bottom: 1px solid $field-border-color;
    position: relative;
    &:active {
        border-bottom-color: $main-color;
        >.ctrl-singleSelect-icon, >.ctrl-select-icon {
            color: $main-color;
        }
    }
    >.ctrl-singleSelect-icon, >.ctrl-select-icon {
        position: absolute;
        right: 0;
        top: $basic-gap/4;
        color: $main-color;
        font-size: $input-size;
    }
    .hidden {
        display: none;
    }
}
.ctrl-multipleSelect-list, .ctrl-styleSelect-list, .ctrl-images-list {
    @extend %clearfix;
    margin: 0;
    padding: 0;
    list-style: none;
}
.ctrl-multipleSelect-item, .ctrl-images-item {
    border: 1px solid $field-border-color;
    height: 80px;
    overflow: hidden;
    background: #F5F5F5;
}
.ctrl-multipleSelect-item, .ctrl-styleSelect-item, .ctrl-images-item {
    width: 32%;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: $basic-gap/2 1%;
    float: left;
    display: inline-block;
    &:nth-child(3n + 1) {
        margin-left: 0;
    }
    &:nth-child(3n + 3) {
        margin-right: 0;
    }
}
.ctrl-multipleSelect-item-delete, .ctrl-images-item-delete {
    position: absolute;
    right: $basic-gap/4;
    top: $basic-gap/4;
    color: $main-color;
}
.ctrl-multipleSelect-add, .ctrl-images-add {
    text-align: center;
    font-size: 2em;
    .icon {
        padding-top: $basic-gap*1.5;
        color: $main-color;
        display: block;
    }
}
.ctrl-styleSelect-item {
    text-align: center;
    .ctrl-style-icon {
        font-size: 2em;
        display: block;
        color: #9E9E9E;
    }
    .ctrl-style-name {
        font-size: 12px;
        color: #9E9E9E;
    }
    .ctrl-style-selectIcon {
        background-color: $main-color;
        color: #FFF;
        border-radius: 100%;
        position: absolute;
        right: $basic-gap;
        top: 0;
    }
    &.selected {
        .ctrl-style-icon {
            color: #757575;
        }
        .ctrl-style-name {
            color: #616161;
        }
    }
}
.ctrl-switch {
    height: $list-item-height;
    border-bottom: 1px solid $border-color;
    position: relative;
    padding: 0 $basic-gap/2;
    &.selected {
        .ctrl-switch-container {
            background-color: $main-color;
            border-color: $main-color;
        }
        .ctrl-switch-inner {
            @include transform(translate3d(24px, 0, 0));
        }
    }
}
.ctrl-switch-text {
    line-height: $list-item-height;
}
.ctrl-switch-container {
    @include position(absolute, 50% $basic-gap auto auto);
    height: 24px;
    line-height: 24px;
    width: 48px;
    border: 1px solid $border-color;
    border-radius: 24px;
    background-color: #E0E0E0;
    margin-top: -12px;
    @include transition();
    .ctrl-switch-inner {
        @include size(20px);
        border-radius: 100%;
        background: $white;
        @include position(absolute, 1px auto auto 1px);
        @include transition();
    }
}