@import "../settings/settings";

#content {
	background-color:$body-background-color;
}

#appContent {
	padding-top:$bar-height + $system-bar-height;
	
}

#secondary,#tertiary {
	width:100%;
	background:#FFF;
	position:absolute;
	top:$system-bar-height;
	left:0;
	overflow:hidden;
	@include transition;

	
	&.active {
		@include transform( translate3D(0, 0, 0 ) );
		
	}
}
#secondary {
	@include transform( translate3D(100%, 0, 0 ) );
	z-index:3;
}
#tertiary {
	@include transform( translate3D(0, 100%, 0 ) );
	z-index:4;
}
